*{
    margin: 0;
    padding: 0;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: black;
    position:static ;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-left: 10px;
}
.navbar a {
display: block;
padding: 20px 20px;
color: aliceblue;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
}

.logo{
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 20px;
}

.title{
    font-family: 'Reem Kufi Ink', sans-serif;
    text-align: center;
    font-size: 100px;
}

.foro{
    height: 400px;
    width: 600px;
    display: block;
    margin: 10px auto;
}

.tam{
    height: 300px;
    width: 300px;
}

.tamano{
    height: 300px;
    width: 300px;
}

.todo{
  font-family: 'Roboto', sans-serif;
  margin-left: 270px;
  width: 60%;
  border: 4px solid hsla(0, 70%, 5%, 0.643);
  position: relative;
  text-align: center;
}

.bord{
    border: 1px solid rgb(0, 0, 0);
  }

.icono{
    width: 450px;
    height: 30px;
    float: right;
}

